:root {

  /* colors simple */
  --white: #ffffff;
  --black: #000;
  --gray: #edeef0;
  --gray-a: #999;

  /* gradients */
  --r: #ffffff;
  --g: #ffc1de 54.14%;
  --b: #ffd3c2 100%;

  /* objects */
  --title: #000000;
  --painel: linear-gradient(113deg, rgba(255, 255, 255, 0.51) 3.51%, rgba(255, 255, 255, 0.00) 111.71%);
  --button-add: #ff5945;

  /* tests */
  --paper: ;
}